/*ipad pro*/
@media only screen and (min-width: 739px) and (max-width: 1024px){
    .wrapper {
        width: 100%;
    }
    .left-header {
        width: 22%;
        margin-left: 20px;
    }

    .right-header .link {
        width: 75%;
        margin-left: 60px;
    }

    .link_dangnhap {
        margin-right: 30px;
    }

    .grid-container .item1{
        width: 25%;
        height: 350px;
        margin-left: 12px;
    }
    .grid-container .item1 > img {
        width: 100%;
        height: 100%;
    }
    
   

    .slide_bar {
        height: 100%;
    }

    .container{
        margin-top: 20px;
    }

    

  

}


/*iphone x*/
@media only screen and (max-width: 739px) {
    .wrapper {
        width: 100%;
        position: relative;
    }
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;     
    }

    .left_picture {
        width: 100%;
        text-align: center;
    }

    .left-header {
        justify-content: center;
        gap: 35px;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .left-header .shop_name {
        font-size: 30px;
    }
    .right-header .link {
        width: 0;
    }

    .right-header .link > a{
        display: none;
    }

    .left-header .picture {
        width: 70px;
        height: 70px;

    }
    
    .right-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    .right-header .link_dangnhap {
       display: flex; 
       width: 40%;
       justify-content: flex-end;
    }

    .right-header .link_dangnhap> button{
       width: 95px;
       height: 40px;
       font-size: 12px;
       text-align: center;
       margin-top: 5px;
    }
    
    .slide_bar {
        margin-top: 180px;
    }

    .slide_bar> img{
       width: 100%;
    }

    .center {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
    }
    
    .container .grid-container > img{
        width: 50%;
       height: 100%;
    }

    

    .container1 .grid-container> img{
        width: 50%;
        height: 100%;
        /* padding-bottom: 15px; */
        margin-top: 5px;
    }

    .container1 {
        padding-bottom: 15px;
    }

   

    .End {
        width: 100%;
        height: 40%;
        flex-direction: column;
        align-items: baseline;
        gap: 5px;
    }

    .End_right, .End_left {
        width: 100%;
        height: 45%;
        font-size: 14px;
    }

    

    .link_responsive {
        display: block;
        position: relative;
        margin-left: 20px;
    }

    .link_activated {
        position: absolute;
        width: 115px;
        background-color: white;
        display: none;
    }

    .link_activated > a{
        width: 115px;
        height: 40px;
        display: block;
        text-decoration: none;
        color: black;
        text-align: center;
        border: 1px solid #d9d9d9;
        line-height: 40px;
    }

    .link_activated > a:hover {
        color: orange;
    }

    .link_responsive:hover > .link_activated {
        display: block;
    } 

    
}

@media screen and (min-width: 300px) and (max-width: 500px){
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
    }
}





